#textField{
    background-color: rgb(214, 189, 25);
    border: 2px solid green;
    color: white;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 18px;
}
#textField:hover{
    background-color: blueviolet;
}
#textField:hover::placeholder {
    color: blue; 
}
.new-Div{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 900;
    display: block;
    align-self: center;
}
.Text-Simple{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    
}
#oldDiv{
    display: flex;
    gap: 15px;
}
#samuelImg {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 35px;
    left: 350px;
    display: none;
}
